{% block element_custom_banner_slider %}
    {% set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}">
        <h1>custom-banner-slider</h1>
    </div>
{% endblock %}